
 .section{
     padding: 100px;
     font-family: Arial, Helvetica, sans-serif;
 }
li {
    text-align: right;
    display: flex;
    font-size: larger;
    margin-top: 30px;
}

body{
    background-image: url(/Images/baack3.jpeg);
    scroll-margin: auto;
}

.cont{
    text-align: center;
    margin-bottom: 0px;

}

.menu {
    padding: 50px;
    color: blanchedalmond;
    border: 1px solid black;
    font-size: 1%;

}

.contact{
    padding: 50p;
}

#fom{
    background-image: url(/Images/back5.jpg);
    padding: 50px;
}